= link_to 'Forêt', ambiant_change_path( ambiant: :forest ), class: 'btn btn-primary btn-lg', role: "button"
= link_to 'Battle', ambiant_change_path( ambiant: :battle ), class: 'btn btn-primary btn-lg', role: "button"

-#%a{ href: "ambia" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" }
